@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

/*VIDEO DE FONDO*/
.fondo-fronPage{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    position: fixed;
}

.nuevo-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in;
    animation: 1s ease-in;
}

/*CONTENEDOR LOGO, TITULO, ESLOGAN, COPYRIGHT*/
.marca{
    width: 42.8vw;
    height: 13.19vw;
    margin: 0 auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;
}

/*LOGO*/
img[src="/img/logo-blanco.png"]{
    width: 28.41%;
    height: fit-content;
    margin: auto 0;
    -webkit-user-drag: none;
    user-select: none;
}

/*CONTENEDOR TITULO, ESLOGAN*/
.marca-titulo{
    height: 100%;
    width: 100%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*NEEDLOS*/
.nombre-marca{
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 6.98vw;
    line-height: 82%;
    user-select: none;
}

/*TAILOR WOFTWARE*/
.description{
    margin: 0;
    margin-left: 1.8%;
    color: #DFDFDF;
    font-weight: 200;
    font-size: 2.06vw;
    line-height: 100%;
    user-select: none;
}

/*COPYRIGHT*/
img[src="/img/r-blanco.png"]{
    width: 3.08%;
    height: fit-content;
    margin: auto 0;
    padding-top: 5%;
    -webkit-user-drag: none;
    user-select: none;
}

/*SEPARACION MARCA/ESLOGAN*/
.sep-horizontal-frontPage{
    width: 80%;
    height: 0.2%;
    background-color: #FFFFFF;
    margin: calc(32vh - 13vw) auto calc(32vh - 10.7vw) auto;
}

/*EL MEJOR SOFTWARE...*/
.eslogan{
    font-size: clamp(2em, 2.9vw, 20em);
    color: #FFFFFF;
    line-height: 80%;
    margin: 0 auto;
    text-align: center;
    user-select: none;
}

/*BOTON INICIAR SESION*/
.iniciar-sesion{
    width: 43.1%;
    height: 120%;
    background-color: #FFFFFF;
    padding-top: auto;
    padding-bottom: auto;
    margin: auto;
    position: relative;
    transform: rotate(9.28deg) translate(0, 0);
}

/*POWERED BY ADS...*/
.footer{
    margin-top: auto;
}

.footer p{
    color: #FFFFFF;
    margin: 1.6% 1.6%;
    font-size: 0.7vw;
    font-weight: 200;
    line-height: 80%;
    -webkit-user-drag: none;
    user-select: none;
}

.gradient{
    width: 69.2%;
    height: 60%;
    margin: 14vh auto;
    border-radius: .8em;
    padding: 0.26vw 0.2vw;
    background: linear-gradient(to bottom, #0059CC, #022859);
    transform: rotate(-9.28deg);
}

.form {
    background-color: #FFFFFF;
    width: auto;
    height: 100%;
    border-width: .2em;
    border-radius: .6em;
    display: flex;
    flex-direction: column;
    -webkit-user-drag: none;
    user-select: none;
}

.welcome{
    text-align: center;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 1.8vh;
    margin-top: 11vh;
    line-height: 80%;
}

.credenciales{
    color: #AEAEAE;
    text-align: center;
    font-weight: 300;
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 5.4vh;
}

.datos{
    margin-left: 12.2%;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 1vh;
}

.input{
    width: 78%;
    margin: 0 auto;
    padding: 1vh 1vw;
    border-radius: 1vh;
    border: solid #595959 .1em;
    transition: border-color .2s;
    animation: ease-in .6s;
    box-sizing: border-box;
    padding: 1.4vh 1vw;
}

.input::placeholder{
    color: #c4c4c4;
    letter-spacing: 0.1vw;
}

.input:hover{
    border-color: #000000;
}

.input:focus{
    border-color: #010101;
    outline: none;
}

.cont{
    width: 78%;
    height: 12.4%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 1.8vh;
    margin-bottom: 3.6vh;
}

.check{
    width: 7%;
    height: auto;
    margin-right: 1vw;
    margin-left: 0;
    cursor: pointer;
}

label{
    margin: auto 0;
    cursor: pointer;
    font-size: 1.4vh;
}

.remember-pass{
    margin: auto 0 auto auto;
    color: #000000;
    transition: color .3s ease;
    font-size: 1.4vh;
}

.remember-pass:hover{
    color: #0059CC;
}

.login{
    background: linear-gradient(to bottom, #003983, #022859);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.8vh;
    width: 78%;
    height: 6%;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 1vh;
    outline: none;
    border-width: 0;
}