.box-form {
  height: 100%;
  box-sizing: border-box;
  border-radius: 1.2vh;
  border: 0.1vh solid #d2d2d2;
  font-size: calc((0.2vw + 3.2vh) * 0.45);
  transition: 0.3s ease-in-out;
}

.box-form::placeholder {
  text-transform: capitalize;
  color: #D2D2D2;
}

.box-form[type="number"]::-webkit-inner-spin-button,
.box-form[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-form[type="number"] {
  -moz-appearance: textfield;
}
