.cont-txt-form {
  height: 5.5%;
  display: flex;
  flex-direction: row;
}

.uno {
  margin: 1vh 1vh 0.5vh 1vh;
}

.dos {
  margin: 0.5vh 1vh;
  position: relative;
}

.tres {
  margin: 0.5vh 1vh 1vh 1vh;
}
