.card-informe{
    border: 0.1rem solid rgb(193, 193, 193);
    height: 12vh;
    border-radius: 1.2vh;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s ease-in-out;
}

.card-informe:hover{
    border: 0.1rem solid #0050b8;
    cursor: pointer;
    text-decoration: underline;
}

.card-informe:active{
    background-color: #f9fafb;text-decoration: none;
}

.spam-informe{
    text-align: center;
}

.img-informe{
    height: 70% ;
}