.frame-container{
  transition: opacity 0.5s ease, transform 0.5s ease;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  object-fit: cover;
}

.fade-in {
  opacity: 1;
  transform: translateX();
}

.fade-out {
  opacity: 0;
  transform: translateX(20px);
}