/*POWERED BY ADS...*/
.footer p{
    color: #FFFFFF;
    margin: 0.65rem 0.65rem;
    font-size: 1.4vh;
    font-weight: 200;
    line-height: 80%;
    -webkit-user-drag: none;
    user-select: none;
}