/*EL MEJOR SOFTWARE...*/
.eslogan{
    font-size: clamp(2rem, 2.9vw, 20em);
    color: #FFFFFF;
    margin: 0 clamp(1rem, 10%, 10%) 0 clamp(4rem, 10%, 10%);
    text-align: center;
    line-height: 80%;
    user-select: none;
    line-height: 1.2;
}