.cont-tabla {
  margin: 0.5vh 1vh 0 1vh;
  border-radius: 1.2vh 1.2vh 0 0;
  border-top: 0.18rem solid #0050b8;
  border-right: 0.18rem solid #0050b8;
  border-left: 0.18rem solid #0050b8;
  box-sizing: border-box;
  min-height: 77.9vh;
  height: auto;
  width: calc(100% - 2vh);
  padding: 0 0.8vh;
  overflow: auto;
}

.cont-tabla.tb-inventario{
  min-height: 86.9vh; 
  margin-top: 1vh;
}

.tabla {
  width: 100%;
  font-size: calc((0.2vw + 3.2vh) * 0.5);
  border-collapse: collapse;
}

.th-tabla {
  font-size: calc((0.2vw + 3.2vh) * 0.6);
}

.th {
  padding: 0.8vh;
  font-weight: 500;
  white-space: pre-wrap;
}

.th:first-child {
  border-right: 0.05 solid #bababa;
}

.th:not(:first-child):not(:last-child) {
  border-right: 0.05vh solid #bababa;
  border-left: 0.05vh solid #bababa;
}

.th:last-child {
  border-left: 0.05vh solid #bababa;
}

.body-tabla {
  text-align: center;
}

.separacion-fila {
  height: 0.9vh;
}

.separacion-fila-head {
  height: 1.6vh;
}

.td {
  padding: 1.2vh;
  height: 1vh;
  font-weight: 300;
  background-color: #f8f8f8;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.td:first-child {
  border-radius: 1.2vh 0 0 1.2vh;
}

.td:last-child {
  border-radius: 0 1.2vh 1.2vh 0;
  padding: 1vh;
  transition: 0.3s ease-in-out;
}

.td:last-child:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.td:last-child:active button{
  scale: 0.8;
}

.tr-body {
  text-align: center;
}

.no-orders {
  height: 76vh;
}

.cont-mess-err{
  background-color: #F8F8F8;
  height: 12vh;
  padding: 3vh;
  border-radius: 2vh;
}