.form-gasto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 30rem;
  height: auto;
  background-color: white;
  border-radius: 1.2vh;
  border: 0.3vh solid #0050b8;
  box-shadow: 0 0 4vh rgba(101, 101, 101, 0.3);
  padding: 2.5vh 1vh 1vh 1vh;
  gap: 1vh;
}

.cont-form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.tit-form {
  margin-bottom: 1vh;
}

.no-capitalize,
.no-capitalize:focus {
  text-transform: none;
}
