.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  width: 40%;
  min-width: 30rem;
  gap: 1vh;
  padding: 2.5vh 1vh 1vh 1vh;
  box-sizing: border-box;
  border-radius: 1.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 0.3vh solid #0050b8;
  overflow: hidden;
  box-shadow: 0 0 4vh rgba(101, 101, 101, 0.3), 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Diseño del formulario */
.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vh;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}

.form-group-check {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  gap: 2vh;
}

.checkboxUsuario {
  height: 2.5vh;
  width: 2.5vh;
  margin: 0 0 1vh 0;
}

.form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.5vh;
  padding-left: 1.4vh;
  font-size: calc((0.2vw + 3.2vh) * 0.5);
  cursor: pointer;
}

.form-input {
  height: 4.5vh;
  padding-left: 1.4vh;
  font-size: calc((0.2vw + 3.2vh) * 0.45);
  border-radius: 1.2vh;
  border: 0.1vh solid #d2d2d2;
}

.form-input:focus {
  text-transform: none;
}

/* Botón de mostrar/ocultar contraseña */
.btn-ver-contrasena {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 3.3vh;
  height: 3.3vh;
  bottom: 0.8vh;
  right: 0.8vh;
}
.btn-crear-usuario {
  width: 100%;
  height: 4.5vh;
  border-radius: 1.2vh;
  border: none;
  background-color: #0050b8;
  font-size: calc((0.2vw + 3.2vh) * 0.45);
  cursor: pointer;
  color: white;
  transition: 0.1s ease-in-out;
}

.btn-crear-usuario:hover {
  text-decoration: underline;
  letter-spacing: 0.02vh;
}

.btn-crear-usuario:active {
  text-decoration: none;
}

.icono-ver {
  height: 80%;
}

/* Estados de error */
.form-input-error {
  border-color: #ef4444;
  background-color: #fef2f2;
}

.form-error {
  position: absolute;
  top: 1.2vh;
  right: 1vh;
  color: #ef4444;
  font-size: calc((0.2vw + 3.2vh) * 0.5);
}

.cont-btn-usuario {
  width: 100%;
  gap: 1vh;
  display: flex;
  flex-direction: row;
}
