/*OCULTAR BOTON ORIGINAL*/
.cont-cb input{
  display: none;
}


/*ESTILO DEL BOTON*/
.check-style {
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 1px rgb(203, 203, 203);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

/*CAMBIAR ESTILO CUANDO ESTE MARCADO*/
.cont-cb input[type="checkbox"]:checked + .check-style {
  background-color: #014093;
  box-shadow: 0 0 0 1px #014093;
}

.cont-cb input[type="checkbox"]:checked + .check-style:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 5px;
  background-color: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white; 
  transform: rotate(-45deg);
}

/*ESTILOS DEL LABEL*/
.cont-cb {
  display: inline-block;
  cursor: pointer;
}
