.cont-tabla {
  margin: 0.5vh 1vh 0 1vh;
  border-radius: 1.2vh 1.2vh 0 0;
  border-top: 0.3vh solid #0050b8;
  border-right: 0.3vh solid #0050b8;
  border-left: 0.3vh solid #0050b8;
  box-sizing: border-box;
  min-height: 77.9vh;
  height: auto;
  width: calc(100% - 2vh);
  padding: 0 0.8vh;
  overflow: auto;
}

.cont-tabla.tb-inventario {
  min-height: 86.9vh;
  margin-top: 1vh;
}

.tabla {
  width: 100%;
  font-size: calc((0.2vw + 3.2vh) * 0.5);
  border-collapse: collapse;
}

.th-tabla {
  font-size: calc((0.2vw + 3.2vh) * 0.6);
}

.th {
  padding: 0.8vh;
  font-weight: 500;
  white-space: pre-wrap;
}

.th:first-child {
  border-right: 0.05 solid #bababa;
}

.th:not(:first-child):not(:last-child) {
  border-right: 0.05vh solid #bababa;
  border-left: 0.05vh solid #bababa;
}

.th:last-child {
  border-left: 0.05vh solid #bababa;
}

.body-tabla {
  text-align: center;
}

.separacion-fila {
  height: 0.9vh;
}

.separacion-fila-head {
  height: 1.6vh;
}

.td {
  padding: 1.2vh;
  height: 1vh;
  font-weight: 300;
  background-color: #f8f8f8;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.td:first-child {
  border-radius: 1.2vh 0 0 1.2vh;
}

.td:last-child {
  border-radius: 0 1.2vh 1.2vh 0;
  padding: 1vh;
  transition: 0.3s ease-in-out;
}

.td:last-child:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.td:last-child:active button {
  scale: 0.8;
}

.tr-body {
  text-align: center;
}

.no-orders {
  height: 76vh;
}

.cont-mess-err {
  background-color: #f8f8f8;
  height: 12vh;
  padding: 3vh;
  border-radius: 2vh;
}

/*Cont Camara*/
.cont-camara-recibida-left {
  width: 22vh;
  height: 22vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: calc(17.8vw - 12.9vh);
  top: 17vh;
  transform: translateX(-50%);
  border-radius: 1.2vh;
  border: 0.3vh solid #0050b8;
  background-color: #ffffff;
  opacity: 0;
  box-shadow: 0 0 4vh rgba(101, 101, 101, 0.3);
  transition: 0.3s ease-in-out;
}

.cont-camara-recibida-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cont-camara-recibida-right {
  width: 22vh;
  height: 22vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: calc(30vw - 35vh);
  top: 17vh;
  transform: translateX(-50%);
  border-radius: 1.2vh;
  border: 0.3vh solid #0050b8;
  background-color: #ffffff;
  opacity: 0;
  box-shadow: 0 0 4vh rgba(101, 101, 101, 0.3);
  transition: 0.3s ease-in-out;
}

.cont-camara-recibida-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.camara-foto-recogida {
  width: 100%;
  height: 100%;
}

.camara-isVisible {
  opacity: 1;
}

.detalles-txt.detalles-txt-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.detalles-txt-row select {
  appearance: none;
  height: 100%;
  padding: 0 1.2vh;
  transition: 0.1s ease-in-out;
  text-align: center;
  border: 0.1vh solid black;
  cursor: pointer;
  border-radius: 0 1.2vh 1.2vh 0;
}

.detalles-txt-row select:hover {
  text-decoration: underline;
  background-color: rgb(236, 236, 236);
}

.tipo-foto {
  position: absolute;
  top: 1.4vh;
}