/*BOTON INICIAR SESION*/
.iniciar-sesion{
    font-size: clamp(1.1rem, calc(1vh + 0.6vw), calc(1vh + 0.6vw));
    font-weight: 600;
    padding: 0.9%;
    margin: 0 auto;
    margin-top: 9vh;
    margin-bottom: auto;
    width: calc(6vw + 9vh);
    height: calc(1vw + 4vh);
    min-width: 10rem;
    max-width: 40%;
    border-radius: .8em;
    cursor: pointer;
    outline: none;
    border: none;
    overflow: hidden;
    -webkit-user-drag: none;
    user-select: none;
    transition: .3s ease-in-out;
    will-change: transform;
}

/*HOVER INICIAR SESION*/
.iniciar-sesion:hover{
    transform: scale(1.04);
}